@charset "utf-8";
/* CSS Document */
body{
	
}

#contenedor{
	font-family:Tahoma, Geneva, sans-serif;	
	border: 1px solid;
}

header{
	border: 1px solid;
	margin: 5px;
	text-align:center;
}

#menu_horizontal{
	margin: auto;
}
.mi-menu{
	list-style-type: none;
	margin: 0;
	position:relative;
	padding: 0;
	height: 60px;
	width: 67%;
	margin:auto;
	margin-top:5px;
	/*right:0px;*/
}
.mi-menu  br { display:none; }
.mi-menu  li{
	min-width:110px; /* Ancho minimo para los botones */
	text-align:center;
	background:#fbfbfb;
	display: block;
	float: left; /* Alinear los botones horizontalmente */
	height:60px; /* Alto de los botones */
	list-style: none;
	/*margin: auto;*/
	padding: 0;
	position: relative;
}
.mi-menu li a{
	/*width:150px;*/
	margin:0px;
	color: #000;
	display: block;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
	line-height: 28px;
	padding-left:13px;
	padding-right:13px;
	padding-top:16px;
	padding-bottom:16px;
	text-decoration: none;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
.mi-menu li:first-child a { border-left: none; }
.mi-menu li:last-child a{ border-right: none; }
.mi-menu li:hover > a { background:#953288; color:#FFFFFF; }

/* Estilos para los submenús */
.mi-menu ul {
	border-radius: 0 0 10px 10px;
	left: 0;
	margin: 0;
	opacity: 0;
	position: absolute;
	top: 60px;
	width:240px;
	-moz-transition: opacity .25s ease .1s;
	-webkit-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
}
.mi-menu li:hover > ul {
	opacity: 1; /* muestra el submenú al pasar el puntero por encima del botón */
}
.mi-menu ul li { 
	width:250px;
	background: url('../images/bg_menu.png'); /*fondo de color negro*/
	text-align:left;
	height: 0;
	// no son visibles
	overflow: hidden;
	padding: 0;
	left:-41px;
	-moz-transition: height .15s ease .1s;
	-webkit-transition: height .15s ease .1s;
	-o-transition: height .15s ease .1s;
	-ms-transition: height .15s ease .1s;
	transition: height .15s ease .1s;
	margin:1px;
}
.mi-menu li:hover > ul li {
	height: 38px;
	// los mostramos 
	overflow: visible;
	padding: 0;
}
.mi-menu ul li a {border: none; margin: 0; color:#FFF; font-size:15px; padding: 5px 5px; width: 240px;}
.mi-menu ul li:last-child a { border: none; }

.mi-submenu > li{
	width:50px;
	text-align: right;
	color:red;
}

#menu_vertical{
	clear: both;
	border: 1px solid;
	margin: 5px;
	float: left;
	width:15%;
}

section{
	/*border: 1px solid;*/
	/*margin: 5px;*/
	float: left;
	width:83.5%;
}
section article{
	border: 1px solid;
	margin: 5px;
	float: left;
	width:85%;
}
section aside{
	border: 1px solid;
	margin: 5px;
	float: left;
	width:12.5%;
}
footer{
	border: 1px solid;
	margin: 5px;
	clear: both;
	text-align:center;
}


